<arg> --add-opens java.base/java.lang.reflect=com.jfoenix </arg>
<arg> --add-opens javafx.base/com.sun.javafx.runtime=com.jfoenix </arg>
<arg> --add-opens javafx.controls/com.sun.javafx.scene.control.behavior=com.jfoenix </arg>
<arg> --add-opens javafx.controls/com.sun.javafx.scene.control=com.jfoenix </arg>
<arg> --add-opens javafx.base/com.sun.javafx.binding=com.jfoenix </arg>
<arg> --add-opens javafx.base/com.sun.javafx.event=com.jfoenix </arg>
<arg> --add-opens javafx.graphics/com.sun.javafx.stage=com.jfoenix </arg>