#userProfilePane {

-fx-background-color: #1f1f1f;

}

#userImageC {

    -fx-stroke-width: 1;
    -fx-stroke: #717171;

}

#passwordTitlelbl{
-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;
}


#ThemeTitlelbl{
-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;
}


#userNameTF {

-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;

}


#oldPasswordTF {

    -fx-text-fill: #c3c3c3;
    -fx-prompt-text-fill: #c3c3c3;
    -jfx-focus-color: white;
    -jfx-unfocus-color: #c3c3c3;

}

#passwordTF {

-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;

}


#confirmPasswordTF {

-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;

}

#themesComboBox {

    -fx-font-size: 16px;
    -fx-prompt-text-fill: #c3c3c3;
    -jfx-focus-color: white;
    -jfx-unfocus-color: #c3c3c3;

}

#themesComboBox > .cell {
    -fx-text-fill: white;
}

#themesComboBox .list-view {
    -fx-background-color: #272c2e;
}

#themesComboBox .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: black;
}

#themesComboBox .prompt-container .text {
    -fx-fill: #272c2e;
}

#themesComboBox .list-cell:selected:filled {
    -fx-text-fill: white;
    -fx-background-color: #36b0e2;
}

#themesComboBox .list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}