#closeB {

-fx-background-color: transparent;
-fx-background-radius: 0;
-fx-border-color: transparent;
-fx-border-radius: 0;

}


#minimizeB {

-fx-background-color: transparent;
-fx-background-radius: 0;
-fx-border-color: transparent;
-fx-border-radius: 0;

}

#titleL {

-fx-text-fill: #8c8c8c;

}

#stageRoot {

-fx-background-color: #1f1f1f;
-fx-border-color: black;

}

#stageBar {

-fx-background-color: #282828;

}


#parentRoot {

-fx-background-color: #1f1f1f;

}