#closeB {

-fx-background-color: transparent;
-fx-background-radius: 0;
-fx-border-color: transparent;
-fx-border-radius: 0;

}


#minimizeB {

-fx-background-color: transparent;
-fx-background-radius: 0;
-fx-border-color: transparent;
-fx-border-radius: 0;

}


#stageRoot {

-fx-background-color: white;
-fx-border-color: black;

}

#stageBar {

-fx-background-color: #3D3D3D;

}


#parentRoot {

-fx-background-color: white;

}