
#parentLayout {

-fx-background-color: transparent;
-fx-border-color: transparent;

}


#addTaskBtn {

-fx-background-color: transparent;
-fx-border-color: transparent;

}

#addTaskLbl {

-fx-text-fill: black;
-fx-background-color: transparent;
-fx-border-color: transparent;
-fx-font-size: 20px;
-fx-font-weight: bold;

}