#signUpPane {

-fx-background-color: #1f1f1f;

}

#chooseImageB {

-fx-background-color: transparent;
-fx-border-color: transparent;

}

#errorL {

-fx-text-fill: #D1453B;
-fx-background-color: transparent;
-fx-border-color: transparent;
-fx-font-size: 14px;
-fx-font-weight: bold;

}

#userNameTF {

-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;

}

#passwordTF {

-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;

}


#confirmPasswordTF {

-fx-text-fill: #c3c3c3;
-fx-prompt-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;

}


#signUpB {

-fx-background-color: transparent;
-fx-border-color: #c3c3c3;
-fx-border-radius: 5;
-fx-text-fill: #c3c3c3;

}

#returnB {

-fx-background-color: transparent;
-fx-border-color: transparent;

}


#themesComboBox {

-fx-font-size: 16px;
-fx-prompt-text-fill: #c3c3c3;
-fx-text-fill: #c3c3c3;
-jfx-focus-color: white;
-jfx-unfocus-color: #c3c3c3;

}